<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136101478522-fbffniotnpopt0qlqoalq4vi2sn90e3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136101478522-fbffniotnpopt0qlqoalq4vi2sn90e3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDYy3T-dpR0yeikv_GnbZhqQxHk5QFsfGk</string>
	<key>GCM_SENDER_ID</key>
	<string>136101478522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnDart</string>
	<key>PROJECT_ID</key>
	<string>leonms-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>leonms-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136101478522:ios:912f51cc931fdb379c3bc3</string>
</dict>
</plist>